


<div class="container"><h2>Orange HRM</h2></div>

<div id="exTab2" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#1" data-toggle="tab">My Info</a>
    </li>
    <li><a href="#2" data-toggle="tab">Employee Data</a>
    </li>
    <li><a href="#3" data-toggle="tab">Leave</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="1">
      <app-my-info></app-my-info>
    </div>
    <div class="tab-pane" id="2">
      <br>
      <p>Blank Page for  Employee Data</p>
    </div>
    <div class="tab-pane" id="3">
      <br>
      <p>Blank page for Leave Data</p>
    </div>
  </div>
</div>


